:root {
  --light-grey: #eee;
  --dark-grey: #333;
}

body {
  background-color: var(--light-grey);
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body, input, textarea, button {
  font-family: 'Ubuntu Mono', Courier, monospace;
}

p {
  font-size: 1.5em;
}

h1 {
  font-size: 30px;
}

h2 {
  float: left;
  display: block;
  font-size: 24px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
}

img {
  height: 100%;
  width: 100%;
}

hr {
  background-color: var(--dark-grey);
  height: 1px;
  border: 0px;
  width: 95%;
}

input {
  width: 100%;
  margin-bottom: 3px;
  font-family: 'Ubuntu', sans-serif;
}

textarea {
  font-family: 'Ubuntu', sans-serif;
}

button {
  display: block;
  float: right;
  width: 60px;
  height: 30px;
  margin: 5px -4px 0 0;
  border-radius: 10px;
  border-color: #ccc;
  border-style: solid;
  background-color: var(--light-grey);
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

button:hover {
  border-color: #bbb;
  background-color: #ddd;
}

select {
  font-family: 'Ubuntu', sans-serif;
}

#content {
  width: 100%;
  max-width: 480px;
  margin: 50px auto;
  /* background-color: var(--pale-gold); */
}

#navbar {
  background-color: var(--dark-grey);
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  height: 50px;
  line-height: 50px;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navDiv {
  width: 100%;
  max-width: 480px;
  margin: auto;
}

#navBox {
  display: block;
  width: 84%;
  max-width: 432px;
  height: 32px;
  line-height: 32px;
  border-radius: 10px;
  margin: 9px auto;
  background-color: var(--light-grey);
}

#msgDiv {
  display: block;
  width: calc(100% - 34px);
  height: 32px;
  line-height: 32px;
  box-shadow: inset 0 2px 5px #333;
  border-radius: 10px 0 0 10px;
  float: left;
}

#navMsg {
  text-align: center;
}

#navBtn {
  display: block;
  width: 32px;
  height: 32px;
  border-style: solid;
  border-left-width: 2px;
  border-radius: 0 10px 10px 0;
  box-shadow: inset 0 2px 5px #333;
  float: right;
  background-size: contain;
  background-color: var(--dark-grey);
}

#navBtn:hover {
  background-color: #666;
}

.foldersIcon {
  background: url('../img/folders_mask.png');
}

.eyeIcon {
  background: url('../img/eye_mask.png');
}

.itemDiv {
  height: 28px;
  line-height: 28px;
  width: 100%;
}

.itemDiv:hover {
  background-color: #ccc;
}

.highDiv, .highForm {
  background-color: hsl(0, 100%, 90%);
}

.highDiv:hover {
  background-color: hsl(0, 100%, 80%);
}

.mediumDiv, .mediumForm {
  background-color: hsl(30, 100%, 90%);
}

.mediumDiv:hover {
  background-color: hsl(30, 100%, 80%);
}

.lowDiv, .lowForm {
  background-color: hsl(60, 100%, 90%);
}

.lowDiv:hover {
  background-color: hsl(60, 80%, 75%);
}

.checkbox {
  float: left;
  display: block;
  height: 22px;
  width: 22px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  margin: 1px 10px 1px 10px;
  background-color: var(--light-grey);
  z-index: 1;
}

.checkbox:hover {
  background: url('../img/tick_mask.png');
  background-size: contain;
  background-color: #bbb;
}

.deletebox {
  float: left;
  display: block;
  height: 22px;
  width: 22px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  margin: 1px 10px 1px 10px;
  background: url('../img/delete_mask.png');
  background-size: contain;
  background-color: hsl(0, 100%, 80%);
  z-index: 1;
}

.deletebox:hover {
  background: url('../img/delete_mask.png');
  background-size: contain;
  background-color: hsl(0, 100%, 50%);
}

#deleted {
  background: url('../img/tick.jpg');
  background-size: contain;
  transition: 0.3s;
}

#addNew {
  float: left;
  display: block;
  height: 26px;
  width: 26px;
  line-height: 24px;
  margin: 1px 10px 1px 10px;
}

#plusSign {
  font-size: 40px;
  text-align: center;
  color: #888;
}

#plusSign:hover {
  color: black;
}

#topDiv {
  height: 50px;
  width: 100%;
  line-height: 50px;
}

#heading {
  float: none;
  text-align: center;
}

.formDiv {
  padding: 5px 13px 5px 10px;
}

.selectionDiv {
  width: 100%;
  height: 14px;
  padding-bottom: 3px;
}

#priorityLabel {
  float: left;
}

#projectLabel {
  float: left;
  margin-left: 33px;
}

#priority {
  width: 70px;
  float: left;
  margin-top: -2px;
}

#projects {
  width: calc(100% - 150px);
  margin-left: 14px;
  float: left;
  margin-top: -2px;
}

#description {
  width: calc(100% - 2px);
  height: 2em;
  resize: none;
}
